body {
  background-image: url("../../images/nyberg_moon.jpg") ;
  background-size: cover;
}
h1, h2, h3 {
  text-align: center;
  color: antiquewhite;
}
ul {
  list-style-type: none;
  color: antiquewhite;
  text-align: justify;
  margin: 0;
  padding: 0;
  width: 80px;
}

li a {
  display: block;
  background-color: #dddddd;
}