body {
  background-image: url("../resort-website/images/nyberg_moon.jpg") ;
  background-size: cover;
}
h2, h3 {
  color: antiquewhite;
  text-align: center;
}

ul {
  list-style-type: none;
  color: antiquewhite;
  text-align: justify;
  margin: 0;
  padding: 0;
  width: 80px;
}

li a {
  display: block;
  background-color: #dddddd;
}

img {
  border: 1px solid rgb(245, 202, 202);
  border-radius: 8px;
  padding: 5px;
  max-height: 200px;
  max-width: 200px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(234, 238, 240, 0.5);
}

.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}